//font-family: 'Rubik', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Pridi', serif;

/* ----- SETUP ----- */

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.clear {
	clear: both;
}


/* ----- BASE STYLES ----- */

.wrapper {
	max-width: 1240px;
	margin: 0 auto;
}

body {
	color: #4A4A4A;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Rubik', Arial, sans-serif;
	font-weight: 300;
	background-color: #FFFFFF;
}

button {
	background-color: #B83A7F;
	padding: 12px;
	border: none;
	margin: 0 auto;
	display: block;
	transition: all 0.3s ease 0s;
}

button a {
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Rubik', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px;
}

button:hover {
	background-color: #871B56;
}

.sectionTitleContainer {
	padding-top: 4%;
}

.sectionTitleBox {
	background-color: #FFFFFF;
	border: 1px solid black;
	max-width: 200px;
	margin: 0 auto;
}

.sectionTitleBox h5 {
	color: black;
	text-transform: uppercase;
	padding: 3% 0% 2% 0%;
	text-align: center;
	letter-spacing: .5;
	font-size: 18px;
	font-weight: 500;
}


/* ----- HEADER - Base Styles ----- */

header {
	background-color: #4E3862;
	width: 100%;
	overflow: hidden;
}

header h1 {
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header ul {
	text-align: center;
}

header ul li {
	display: inline-block;
}

header ul li a.standardNav {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0px 15px 0px 15px;
	padding-bottom: 2px;
	position: relative;
}

header ul li a.standardNav:hover {
	color: white;
}

header ul li a.standardNav:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #B83A7F;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header ul li a.standardNav:hover:before {
	visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* ----- LARGE CLASS ----- */

header.large h1 {
	font-size: 80px;
	text-align: center;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	line-height: 1;
}

header.large button {
	background-color: #EDB23E;
	position: absolute;
	top: 3%;
	right: 5%;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

header.large button a {
	font-family: 'Pridi', serif;
	color: white;
	text-transform: none;
	font-weight: 200;
	font-size: 20px;
}

header.large button:hover {
	background-color: #E59800;
}

header.large ul {
	margin: 0 auto;
	padding: 20px 0px 10px 0px;
}


header.large ul li.appButton {
	display: none;
}

header.large ul li a.appButton {
	display: none;
}


/* ----- SMALL CLASS ----- */

header.small {
	position: fixed;
	top: -100;
	z-index: 99;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
	/*transition: all 1s ease-in-out;*/
}

header.small h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	padding-top: 15px;
	margin-left: 4%;
	padding: 0px;
	float: left;
}

header.small nav {
	float: right;
}

header.small button {
	display: none;
}

header.small button a {
	display: none;
}

header.small ul {
	padding: 12px 0px 10px 0px;
}

header.small ul li.appButton {
	background-color: #EDB23E;
	padding: 10px 15px;
	margin-left: 20px;
	transition: all 0.3s ease-in-out 0s;
}

header.small ul li.appButton:hover {
	background-color: #E59800;
}

header.small ul li a.appButton {
	font-family: 'Pridi', serif;
	color: white;
	text-transform: none;
	text-decoration: none;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 2%;
}


/* ----- INTRO ----- */

#intro {
	margin: 0 auto;
	max-width: 900px;
	padding: 2%;
}

#intro h2 {
	text-align: center;
	font-family: 'Pridi', serif;
	font-weight: 200;
	font-size: 38px;
	color: #4E3862;
	letter-spacing: 1.5;
	padding: 3% 0% 0% 0%;
}

#intro p {
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	color: black;
	padding: 1% 0% 4% 0%;
}


/* ----- LARGE TOUTS ----- */

.toutsWrapper {
	/* taking this out allows images to be full width of browwser
	max-width: 1240px;*/
	margin: 0 auto;
}

.largeTout {
	padding: 0% 0%;
	/*margin: 0px 0px 30px 0px;*/
	display: inline-block;
}

.grapesTout {
	background: url("../images/AboutGrapes_hpimage.jpg") left center no-repeat;
	background-size: cover;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.stylesTout {
	background: url("../images/AboutStyles_hpimage.jpg") right center no-repeat;
	background-size: cover;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.icon {
  	/* taking out the below will allow icon to scale on browser resize
  	position: relative;
  	z-index: 1;
    top:30%;
    left:30%;*/
    display: block;
    max-width: 35%;
    margin: 0 auto;
    padding: 10%;
}

.largeTout p {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1;
	padding: 0% 0% 4% 50%;
	letter-spacing: 2;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	font-size: 1.5vw;
}

.largeTout span {
	font-family: 'Pridi', serif;
	text-transform: none;
	/*font-size: 60px;*/
	padding-left: 8%;
	font-size: 3em;
}


/* ----- TASTING ----- */

#tastingWine, #pairingFood {
	background-color: #F5F5F5;
	overflow: hidden;
	width: 100%;
}

.toutContainer {
	/*width: 100%;*/
	padding: 2% 0%;
}

.tout {
	width: 29%;
	padding: 0% 2%;
	border-right: 1px solid #cccccc;
	margin: 0px 0px 30px 0px;
	display: inline-block;
}

/*.tout:first-child {
	padding-left: 0px;
	}*/

	.tout:last-child {
		border: none;
		padding-right: 0px;
	}

	.toutContainer h2 {
		text-align: center;
		font-family: 'Pridi', serif;
		font-weight: 200;
		font-size: 36px;
		color: black;
		padding: 0px 0px 10px 0px;
	}

	.toutContainer p {
		padding: 0px 0px 15px 0px;
	}


	/* ----- PAIRING ----- */

	#toutContainer div {
		width: 32%;
		/* padding: 0% 2%; */
		margin: 0% 2% 4% 0%;
		display: inline-block;
		height: 290px;
		overflow: hidden;
		position: relative;
	}

	#toutContainer div:last-child {
		margin-right: 0%;
	}

	#toutContainer .veg {
		background: url("../images/veg_image.jpg") left center no-repeat;
		background-size: 100%
	}

	#toutContainer .chicken {
		background: url("../images/chicken_image.jpg") center center no-repeat;
		background-size: 100%
	}

 	#toutContainer .chocolate {
		background: url("../images/chocolate_image.jpg") right center no-repeat;
		background-size: 100%
	}


	#toutContainer div p {
		ine-height: 28px;
  		text-align: center;
  		position: absolute;
  		color: white;
  		margin: 0;
  		height: 100%;
  		background-color: rgba(0, 0, 0, .5);
  		text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
	}

	#toutContainer div .title {
		font-family: 'Pridi', serif;
		font-weight: 200;
		font-size: 40px;
		/*padding: 20% 0% 3% 0%;*/
	}

	#toutContainer div .copy {
		/*padding: 0% 15% 20% 15%;*/
		opacity: 1;
	}


	/* ----- APP TOUT ----- */

	#appTout #appCopy {
		margin-left: 10%;
	}

	#appTout h2 {
		font-family: 'Pridi', serif;
		font-weight: 200;
		font-size: 38px;
		color: black;
		letter-spacing: 1.5;
		line-height: 45px;
		padding: 5% 0% 2% 0%;
		margin-top: 5%;
	}

	#appTout p {
		padding-top: 3%;
	}

	#appTout .bullets {
		padding: 2% 0% 0% 4%;
		line-height: 30px;
	}

	.appStoreBadge {
		padding-top: 5%;
	}

	.appImage {
		margin: 4% 10% 0% 0%;
	}


	/* ----- FOOTER ----- */


	footer {
		background-color: black;
		width: 100%;
		overflow: hidden;
	}

	footer p {
		font-size: 13px;
		letter-spacing: 1.5;
		text-align: center;
		color: white;
		padding: 2% 0%;
	}

