//font-family: 'Rubik', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Pridi', serif;

/* ----- SETUP ----- */

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.clear {
	clear: both;
}


/* ----- BASE STYLES ----- */

.wrapper {
	max-width: 1240px;
	margin: 0 auto;
}

body {
	color: #4A4A4A;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Rubik', Arial, sans-serif;
	font-weight: 300;
	background-color: #FFFFFF;
}

button {
	background-color: #B83A7F;
	padding: 12px;
	border: none;
	margin: 0 auto;
	display: block;
	transition: all 0.3s ease 0s;
}

button a {
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Rubik', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px;
}

button:hover {
	background-color: #871B56;
}

.sectionTitleContainer {
	padding-top: 5%;
}

.sectionTitleBox {
	background-color: #FFFFFF;
	border: 1px solid black;
	max-width: 200px;
	margin: 0 auto;
}

.sectionTitleBox h5 {
	color: black;
	text-transform: uppercase;
	padding: 3% 0% 2% 0%;
	text-align: center;
	letter-spacing: .5;
	font-size: 18px;
	font-weight: 500;
}


/* ----- HEADER - Base Styles ----- */

header {
	background-color: #4E3862;
	width: 100%;
	overflow: hidden;
}

header h1 {
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 3px;
}

header ul {
	text-align: center;
}

header ul li {
	display: inline-block;
}

header ul li a.standardNav {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0px 15px 0px 15px;
	padding-bottom: 2px;
	position: relative;
}

header ul li a.standardNav:hover {
	color: white;
}

header ul li a.standardNav:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #B83A7F;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

header ul li a.standardNav:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* ----- LARGE CLASS ----- */

header.large h1 {
	font-size: 80px;
	text-align: center;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	line-height: 1;
}

header.large button {
	background-color: #EDB23E;
	position: absolute;
	top: 3%;
	right: 5%;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

header.large button a {
	font-family: 'Pridi', serif;
	color: white;
	text-transform: none;
	font-weight: 200;
	font-size: 20px;
}

header.large button:hover {
	background-color: #E59800;
}

header.large ul {
	margin: 0 auto;
	padding: 20px 0px 10px 0px;
}


header.large ul li.appButton {
	display: none;
}

header.large ul li a.appButton {
	display: none;
}


/* ----- SMALL CLASS ----- */

header.small {
	position: fixed;
	top: -100;
	z-index: 99;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
	/*transition: all 1s ease-in-out;*/
}

header.small h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	padding-top: 15px;
	margin-left: 4%;
	padding: 0px;
	float: left;
}

header.small nav {
	float: right;
}

header.small button {
	display: none;
}

header.small button a {
	display: none;
}

header.small ul {
	padding: 12px 0px 10px 0px;
}

header.small ul li.appButton {
	background-color: #EDB23E;
	padding: 10px 15px;
	margin-left: 20px;
	transition: all 0.3s ease-in-out 0s;
}

header.small ul li.appButton:hover {
	background-color: #E59800;
}

header.small ul li a.appButton {
	font-family: 'Pridi', serif;
	color: white;
	text-transform: none;
	text-decoration: none;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 2%;
}


/* ----- INTRO ----- */

#intro {
	margin: 0 auto;
	max-width: 900px;
	padding: 2%;
}

#intro h2 {
	text-align: center;
	font-family: 'Pridi', serif;
	font-weight: 200;
	font-size: 38px;
	color: #4E3862;
	letter-spacing: 1.5;
	padding: 3% 0% 0% 0%;
}

#intro p {
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	color: black;
	padding: 1% 0% 4% 0%;
}


/* ----- HERO TOUTS ----- */

.toutsWrapper {
	/* taking this out allows images to be full width of browwser
	max-width: 1240px;*/
	margin: 0 auto;
}

.heroTout {
	padding: 0% 0%;
	/*margin: 0px 0px 30px 0px;*/
	display: inline-block;
}

.grapesTout {
	background: url("../images/AboutGrapes_hpimage.jpg") left center no-repeat;
	background-size: cover;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.stylesTout {
	background: url("../images/AboutStyles_hpimage.jpg") right center no-repeat;
	background-size: cover;
	width: 50%;
	display: inline-block;
	overflow: hidden;
}

.icon {
    display: block;
    max-width: 25%;
    margin: 0 auto;
    padding: 10% 0 4% 0;
}

.grapesTitle, .stylesTitle {
	font-family: 'Pridi', serif;
	color: white;
	letter-spacing: 2;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, .4);
	font-size: 6vw;
	text-align: center;
	padding: 1% 0 4% 0;
	background: linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  	background: -webkit-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  	background: -moz-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
}

.grapesDec, .stylesDec {
	font-size: 18px;
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, .4);
	text-align: center;
	padding: 1% 0 4% 0;
	background: linear-gradient(bottom, rgba(0,0,0,.9), rgba(0,0,0,0));
  	background: -webkit-linear-gradient(bottom, rgba(0,0,0,.9), rgba(0,0,0,0));
  	background: -moz-linear-gradient(bottom, rgba(0,0,0,.9), rgba(0,0,0,0));
}


/****media query****/
@media (max-width: 700px) {
	.grapesTout {
		width: 100%; 
	}
	.stylesTout {
		width: 100%; 
	}
	.icon {
		max-width: 30%;
	}
	.heroTout p {
		font-size: 12vw;
	}
}


/* ----- TASTING ----- */

#tastingWine, #pairingFood {
	background-color: #F5F5F5;
	overflow: hidden;
	width: 100%;
	padding-bottom: 1%;
}

.toutContainer {
	/*width: 100%;*/
	padding: 2% 0%;
}

.tout {
	width: 29%;
	padding: 0% 2.25%;
	border-right: 1px solid #cccccc;
	margin: 0px 0px 30px 0px;
	display: inline-block;
	float: left;
}

.tout:last-child {
	border: none;
	padding-right: 0px;
}

.toutContainer h2 {
	text-align: center;
	font-family: 'Pridi', serif;
	font-weight: 200;
	font-size: 36px;
	color: black;
	padding: 0px 0px 10px 0px;
}

.tout p {
	padding: 0px 0px 15px 0px;
	text-align: center;
}

/****media query****/
@media (max-width: 700px) {
	.tout {
		width: 85%;
    	border: none;
    	display: block;
    	margin: 0 auto 30px auto;
    	float: none;
	}
	.toutContainer h2 {
		padding: 0;
	}
	.toutContainer p {
		padding: 0px 0px 10px 0px;
	}
}

/* ----- PAIRING ----- */

.pairingTout {
	width: 32%;
	/* padding: 0% 2%; */
	margin: 0% 2% 4% 0%;
	display: inline-block;
	position: relative;
	height: 270px;
}

.pairingTout:last-child {
	margin-right: 0%;
}

.vegTout {
	background: url("../images/veg_image.jpg") left center no-repeat;
	background-size: 100%;
	-webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.vegToutAlt {
	background: url("../images/veg_image_darker.jpg") left center no-repeat;
	background-size: 100%;
	-webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.chickenTout {
	background: url("../images/chicken_image.jpg") center center no-repeat;
	background-size: 100%;
}

.chickenToutAlt {
	background: url("../images/chicken_image_darker.jpg") center center no-repeat;
	background-size: 100%;
}

.chocolateTout {
	background: url("../images/chocolate_image.jpg") right center no-repeat;
	background-size: 100%;
}

.chocolateToutAlt {
	background: url("../images/chocolate_image_darker.jpg") right center no-repeat;
	background-size: 100%;
}

.pairingTout h2 {
	text-align: center;
	font-family: 'Pridi', serif;
	font-weight: 200;
	font-size: 40px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
	/*padding: 25% 0% 3% 0%;*/
	position: relative;
    top: 33%;
}

.pairingTout p {
	padding: 0% 10% 5% 10%;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
    position: relative;
    top: 25%;
    opacity: 0;
}

/****media query****/
@media (max-width: 700px) {
	.pairingTout {
		width: 85%;
    	border: none;
    	display: block;
    	margin: 0 auto 30px auto;
    	float: none;
	}
	.pairingTout:last-child {
		/* --- how do i remove the 0& right margin? --- */
	}
}


/* ----- APP TOUT ----- */

#appTout #appCopy {
	margin-left: 10%;
}

#appTout h2 {
	font-family: 'Pridi', serif;
	font-weight: 200;
	font-size: 38px;
	color: black;
	letter-spacing: 1.5;
	line-height: 45px;
	padding: 5% 0% 1% 0%;
	margin-top: 5%;
}

#appTout p {
	padding-top: 2%;
}

#appTout .bullets {
	padding: 2% 0% 0% 4%;
	line-height: 30px;
}

.appStoreBadge {
	padding-top: 4%;
}

#textLink {
	margin: 2% 0 0 0;
}

#textLink p {
	font-weight: 500;
	font-size: 14px;
}

#textLink input {
	padding: 2%;
	font-size: 14px;
	margin-top: 2%
}

#textLink button {
	margin: 0;
	display: inline-block;
	margin-left: 1%;
}

#confirm {
	font-size: 12px;
	opacity: 0;
}

#alert {
	font-size: 12px;
	color: red;
	opacity: 0;
}

.appImage {
	margin: 4% 10% 0% 0%;
	max-width: 100%;
}


/* ----- FOOTER ----- */


footer {
	background-color: black;
	width: 100%;
	overflow: hidden;
}

footer p {
	font-size: 13px;
	letter-spacing: 1.5;
	text-align: center;
	color: white;
	padding: 2% 0%;
}

