body {
	background: black;
	color: white;
	font-family: helvetica;
	line-height: 150%;
}
a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding-right: 10px; 
}

a:active {
	color: yellow; 
}

a:hover {
	color: yellow;
}

a:selected {
	color: pink;
}