body {
	font-family: Courier, Georgia, serif;
	font-size: 24px;
	color: #959595; 
	line-height: 1.25;
	background: url("../images/hipster-line.gif") no-repeat;
	min-height: 100%;
}

#container {
	margin: 0 auto;
	width: 910px;
	padding-top: 155px;
}

#header {
	padding: 0px 0px 20px 0px;
}

#header h1 {
  font-size: 100px;
  color: #cccccc;
  line-height: .7;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin: 0px 0px 20px 10px;
}

#header p {
	font-size: 16px;
	margin: 0px;
	margin: 0px 0px 0px 10px;
}

#main {
	padding: 25px;
}

h2 {
  font-size: 32px;
  margin: 4px 0;
  font-weight: normal;
  padding: 0;
  color: #cccccc;
  font-name: Courier;
  line-height: 2.8em;
}

#main a {
	color: #cccccc;
	text-decoration: none;
}

#main a:hover {
	color: #000000;
}

.frame {
	padding: 100px;
	background: #fcfcfc;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 30px #cccccc;
}

.credit {
	color: #999999;
	font-family: arial;
	font-size: 12px;
	margin-left: 15px;
}

.line {
	margin: 25px 0;
	border-bottom: 1px #cccccc solid;
}

#footer {
	padding: 20px;
	text-align: right;
	font-family: arial;
	font-size: 12px;
	color: black
}

#footer .twitterLink {
	color: black;
	text-decoration: none;
}

#footer .twitterLink:hover {
	color: red;
}

