/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #033048;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #f0efef
}

.logo {
  font-weight: 800;
  font-size: 50px;
}


/******************************************
/* LAYOUT
/*******************************************/

.container {
  width: 960px;
  margin: 0 auto;
}



/* HEADER */


header {
  background-color: #033048;
  padding: 25px 0px;
  overflow: hidden;
}

header .logo {
  color: white;
  float: left;
}


/* NAVIGATION */

nav {
  float: right;
  margin: 20px 0px 20px 0px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 15px 0px 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #f9e42e;
  font-size: 24px;
}


/* MAIN */

#main {
  margin-top: 60px;
}

#stories {
  width: 700px;
  margin-bottom: 50px;
}

article h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

article img {
  margin-bottom: 20px;
  max-width: 100%;
}

article p.articleText {
  font-weight: 300;
  color: #606161;
  float: right;
  margin-bottom: 30px;
}

article p.articleText::first-letter {
  font-size: 250%;
  font-weight: 600;
  vertical-align: text-top;
  float: left;
  line-height: 90%;
  padding-right: 5px;
}

article h4 {
  font-weight: 800;
  text-align: right;
  margin: 20px 0px 30px 0px;
}

article h4 a {
  text-decoration: none;
  color: #033048;

}


/* RIGHT RAIL */

#rightRail {
  width: 240px;
}

section.categories {
  margin-bottom: 40px;
}

section.categories h3 {
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 5px;
}

section.categories ul {
  line-height: 1.4;
  padding-left: 10px;
}

section.categories ul li a.links {
    font-weight: 300;
    text-decoration: none;
    color: #033048;
}

section.categories p {
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 22px;
}

section.categories a {
  font-weight: 800;
  text-decoration: none;
  color: #033048;
}


/* SIGN UP */

#signup {
  background-color: #f9e42e;
  padding: 30px;
}

#signup .cta {
  background-color: #033048;
  width: 200px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  display: block;
}

#signup a {
  margin: 0 auto;
  text-decoration: none;
  max-width: 100%;
  color: white;
  font-weight: 800;
}

/* FOOTER */

footer {
  background-color: #121212;
  text-align: center;
  padding-top: 30px;
}

footer .logo {
  margin: 0 auto;
  color: #f9e42e;
  padding: 10px 0px 10px 0px;
}

footer ul {
  margin: 30px 0px 30px 0px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px 0px 20px;
}

.copyright {
  color: white;
  font-size: 20px;
  padding: 30px 0px 30px 0px;
}





