body {
	background: black;
	color: white;
	font-family: helvetica;
	line-height: 150%;
}
a:link {
		font-weight: bold;
		color: white;
		text-decoration: none;
		padding-right: 10px; 
		
a:active {
		font-weight: bold;
		color: yellow; 
		text-decoration:underline
		padding-right: 10px;
}