// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;


/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeeee;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

button {
    font-family: "Oswald", san-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	letter-spacing: .5px;
	background-color: #c6c6c6;
	border: none;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	border-radius: 3px;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.3);
}


/******************************************
/* LAYOUT
/*******************************************/


/* --------------- HEADER --------------- */

header {
	background-color: black;
	height: 80px;
	width: 100%;
	overflow: hidden;
}

h1#logo {
	font-family: 'Merriweather', serif;
	font-size: 24px;
	color: #ffff00;
	padding-top: 25px;
}


/* ------------- NAVIGATION ------------- */

#primaryNav {
	padding-top: 30px;
}

#primaryNav li {
	display: inline-block;
  	padding: 0px 15px 0px 15px;
}

#primaryNav a.boldNav {
	font-family: "Oswald", san-serif;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: .5px;
}

#primaryNav a {
	font-family: "Source Sans Pro", san-serif;
	text-decoration: none;
	color: white;
}



/* ------------- TAGLINE ------------- */

#tagline {
	background-color: #c6c6c6;
	height: 50px;
	width: 100%;
	overflow: hidden;
}

p.tagline {
	font-family: "Merriweather", serif;
	color: black;
	font-style: italic;
	text-align: center;
	padding-top: 15px;
}

span.strike {
	text-decoration: line-through;
	color: gray;
}

span.tagUnderline {
	border-bottom: 2px solid yellow;
}


/* ------------- MAIN CONTENT ------------- */

#main {
	background: url("../img/coworking.jpg") center center no-repeat;
	background-size: cover;
	max-width: 100%;
	overflow: hidden;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.8);
}

div.overlay {
	background-color: rgba(255,255,255, .80);
	width: 30%;
	padding: 40px;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.8);
	margin: 40px 0px 40px 0px;
}

div.overlay h3 {
	font-family: "Oswald", san-serif;
	font-size: 24px; 
	font-weight: bold;
	letter-spacing: .5px;
}

div.overlay p {
	margin: 10px 0px 25px 0px;
}

button.overlayButton {
	background-color: #ffff00;
}


/* ------------- TOUTS ------------- */


.toutContainer {
	width: 100%;	
	padding: 2% 0%;
}

.tout {
	width: 30%;
	padding: 3% 2%;
	border-right: 1px solid #cccccc;
	margin: 0px 0px 30px 0px;
	float: left;
	display: inline-block;
}

.toutTitle {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

.tout p {
	margin: 5px 0px 15px 0px; 
}

.toutContainer .tout:first-child {
	padding-left: 0px;
}

.toutContainer .tout:last-child {
	border: none;
	padding-right: 0px;
}

/* ------------- FOOTER ------------- */

footer {
	background-color: black;
	margin-top: 20px;
}

footer p {
	color: white;
	padding: 20px 0px 20px 0px;
}

